<aside class="col-3 border border-light bg-white mt-4">
    
    <article class="card mb-3">
       
         
      <div class="card-header text-white " style="background-color:#1A237E">
          <p class="text-white"><a class="text-white" href="{{ path('admin_index') }}">Dashboard</a></p>
      </div>
      
       <div class="card-header text-white " style="background-color:#1A237E">
          <p class="text-white"><a class="text-white" href="{{ path('admin_reservation') }}">Liste des reservation</a></p>
       </div>

        <div class="card-header text-white " style="background-color:#1A237E">
          <p><a class="text-white" href="{{ path('admin_users_index') }}">Liste des Utilisateurs</a></p>
       </div>
       
    </article>     
</aside>