{% extends 'base.html.twig' %}

{% block title %}Réenitialistation du mot de passe{% endblock %}

{% block body %}
    <div class="container">
         <div class="row">
          
            <main class="col-9 border border-light bg-white p-4">
               <h1>Réenitialiser le mot de passe</h1>
               {{ form_start(requestPassForm) }}
                  {{ form_row(requestPassForm.email) }}
              <button type="submit" class="btn" style="background-color:#1A237E" ><p style="height:7px" class="text-white">{{ button_label|default('Modifier') }}</p></button>
               {{ form_end(requestPassForm) }}
               

            </main>
         </div>
    </div>
{% endblock %}