{% block body %}
<body class="bg-light">
  <div class="container">
    <div class="card p-6 p-lg-10 space-y-4">
      <h1 class="h3 fw-700">
       Bonjour {{ user.nom }} {{ user.prenom }}
      </h1>
      <p>
        Nous avons recu votre demande d'inscription en tant qu'instructeur sur notre plateforme nous vous contacterons dans peu pour plus d'information
      </p>
    </div>
  </div>
</body>
{% endblock %}