<body class="bg-light">
  <div class="container">
    <div class="card p-6 p-lg-10 space-y-4">
      <h1 class="h3 fw-700">
       Bonjour {{ user.prenom }} {{ user.nom }}
      </h1>
      <p>
       Votre inscrisption sur la plate-forme est a  valider en cliquant sur le lien suivant:
      </p>

      <a class="btn btn-primary" href="{{ absolute_url(path('verify_user', {token: token})) }}">Verification</a>
      <p>Ce lien expirera dans 3 heures</p>
    </div>
  </div>
</body>
